/* src/components/cepSearch/CepSearch.module.css */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3 ease-in-out;
}

.button:hover {
  background-color: #444;
}

.button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}
.feedback {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: center;
  color: green;
}
.result {
  margin-top: 20px;
  text-align: left;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 503px) {
  .form {
    flex-direction: column;
    gap: 5px;
  }

  .input {
    max-width: 100%;
  }

  .button {
    width: 100%;
  }
}
